body {
    margin : 0;    
    padding: 0;
}

/* Flyout */

.st-flyout .st-flyout-menu {
	padding: 3% 2%;
    background:rgb(194,194,194);
}

.st-flyout .st-flyout-main {
    box-shadow: 0px 0px 8px  #999;
}

.st-flyout .st-flyout-toggle {
    font-size:1.3em;
}

.st-flyout #content {
    padding: 0 3%;
}

/* Toggle */

.st-toggle {
    background: #000;    
}

.st-toggle a {
    color : #999;
    text-decoration:none; 
}

.st-toggle a:hover {
    color : #FFF;
}

.st-toggle .st-toggle-navigation.active {
    max-height: 25em;    
}

/* Offcanvas */

.st-offcanvas .st-offcanvas-menu a,
.st-offcanvas .st-offcanvas-additional a {

    font-size:1.2em;    
}

.st-offcanvas .st-offcanvas-menu,
.st-offcanvas .st-offcanvas-main,
.st-offcanvas .st-offcanvas-additional {
	padding: 3%;
}

.st-offcanvas .st-offcanvas-main {
    background-color: #fff;
}

.st-offcanvas .st-offcanvas-main:before,
.st-offcanvas .st-offcanvas-main:after {
    background-color: #ccc;    
}

.st-offcanvas .st-offcanvas-main:before {
        box-shadow: 0px -8px 8px  #999 inset;
}

.st-offcanvas .st-offcanvas-main:after {
        box-shadow: 0px -8px 8px  #999 inset;
}

/* Slider */

.st-slider {
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 1);
}

/* Refresh */

.st-refresh {
    padding: 20px;   
}

.st-refresh-pullrefresh {
    background: #ccc;
    box-shadow: 0 -5px 10px #bbb inset;
}

.st-refresh-pullrefresh .message {
    color: #777;
    text-shadow: 1px 1px 0 #dfdfdf;
    font-weight: bold;
}

/* List */

.st-list  li {
    background-color : #ccc;
    border-bottom : 1px solid #D8D8D8;
    -webkit-transition: .2s all ease;
	-moz-transition: .2s all ease;
	-o-transition: .2s all ease;		
	-ms-transition: .2s all ease;
	transition: .2s all ease;
}

.st-list  li:last-child {    
    border-bottom : none;
}

.st-list  li:hover {
    background-color : #ddd;
}
