.st-list {
    margin : 0;
    padding : 0;
}

.st-list.st-inset {
    margin : 3%;
    border-radius : 5px;
}

.st-list li {  
  border-bottom: 1px solid #ccc;
  display: table;
  border-collapse: collapse;
  width: 100%;
}

.st-list li a {
  display: table-row;
  overflow: hidden;
}

.st-list .st-list-img {
  display: table-cell;
  vertical-align: middle;
  width: 30%;
  padding-right: 1em;
}

.st-list .st-list-img img {
  display: block;
  width: 100%;
  height: auto;
}

.st-list .st-list-content {
  display: table-cell;
  vertical-align: middle;
  width: 70%;
  padding-right: 1em;
}

.st-list .st-list-title {
  margin: 0;
}

.st-list .st-list-summary {
  display: none;
  margin: 0;
}

.st-list .st-list-action {
  margin: 0;
}

@media screen and (min-width: 40em) {
  .st-list li {
    background: none;
  }
  
  .st-list .st-list-summary {
    display: block;
  }
}

@media screen and (min-width: 60em) {
  .st-list li {
    float: left;
    width: 50%;
  }
  .st-list li a {
    padding-right: 1em;
  }
}