/* Offcanvas styles */

.st-offcanvas * { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
	padding: 0; 
	margin: 0;
}

.st-offcanvas {
	overflow: hidden;
	width : 100%;
	/*display: none;*/
}

.st-offcanvas .st-offcanvas-main:before, 
.st-offcanvas .st-offcanvas-main:after {	
	content: " ";
	position: absolute;
	z-index: -1;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;	
	border-right : 1px solid #FFF;
	border-left : 1px solid #FFF;
}


.st-offcanvas .st-offcanvas-main:after {
	left: 100%;	
}

.st-offcanvas .st-offcanvas-menu,
.st-offcanvas .st-offcanvas-main,
.st-offcanvas .st-offcanvas-additional {
	width: 100%;
	display: block;	
	position: relative;	
}

.st-offcanvas.active-transitions .st-offcanvas-menu,
.st-offcanvas.active-transitions .st-offcanvas-main,
.st-offcanvas.active-transitions .st-offcanvas-additional {
	-webkit-transition: .2s all ease;
	-moz-transition: .2s all ease;
	-o-transition: .2s all ease;		
	-ms-transition: .2s all ease;
	transition: .2s all ease;
}

.js .st-offcanvas .st-offcanvas-menu {	
	margin-left: -100%;
	float: left;
	z-index: 2;			
}

.js .st-offcanvas .st-offcanvas-main {
	margin-left: 0;
	float: left;
	z-index: 1;
	position: relative;	
}

.js .st-offcanvas .st-offcanvas-additional {	
	margin-right: -200%;
	float: left;
	z-index: 2;	
}

.st-offcanvas.active-menu > .st-offcanvas-menu {	
	margin-left: 0;			
	width: 70%;		
}

.st-offcanvas.active-menu > .st-offcanvas-main {
	margin-right: -170%;
}

.st-offcanvas.active-menu > .st-offcanvas-additional {	
	/*margin-right: -270%;
	float: right;	*/
	margin-left: 100%;		
}


.st-offcanvas.active-additional > .st-offcanvas-menu {	
	margin-left: -100%;
}

.st-offcanvas.active-additional > .st-offcanvas-main {
	margin-left: -70%;	
}

.st-offcanvas.active-additional > .st-offcanvas-additional {	
	margin-left: 0;
	width: 70%;	
}


@media all and (min-width: 768px) {

	.js .st-offcanvas .st-offcanvas-menu {
		width: 30%;	
		margin-left: 0;
	}

	.js .st-offcanvas .st-offcanvas-main {
		width: 70%;
		float: left;
	}

	.js .st-offcanvas .st-offcanvas-additional {
		width: 30%;
	}					
	
	.st-offcanvas.active-additional > .st-offcanvas-menu,
	.st-offcanvas.no-menu > .st-offcanvas-menu {	
		margin-left: -100%;
	}

	.st-offcanvas.active-additional > .st-offcanvas-main,
	.st-offcanvas.no-menu > .st-offcanvas-menu {
		margin-left: 0;
		width: 70%;
	}

	.st-offcanvas.active-additional > .st-offcanvas-additional,
	.st-offcanvas.no-menu > .st-offcanvas-menu {	
		margin-right: -70%;
		width: 30%;
	}
}


@media all and (min-width: 979px) {	
	
	.js .st-offcanvas .st-offcanvas-menu {
		width: 25%;	
		margin-left: 0;	
		float: left;
		
	}

	.js .st-offcanvas .st-offcanvas-main {
		width: 50%;	
	}

	.js .st-offcanvas .st-offcanvas-additional {
		width: 25%;	
		margin-right: 0;
		float: right;	
	}

	.js .st-offcanvas.no-additional > .st-offcanvas-main,
	.js .st-offcanvas.no-menu > .st-offcanvas-main {
		width: 75%;	
	}
}
