.st-slider, .st-slider ul, .st-slider li {
    min-height: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

.st-slider {
    background: silver;
    overflow: hidden;
    width:100%;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
    -webkit-transform-style: preserve-3d;
}

.st-slider ul.animate {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.st-slider ul {
    transform: translate3d(0%,0,0) scale3d(1,1,1);
    -o-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -ms-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -moz-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -webkit-transform: translate3d(0%,0,0) scale3d(1,1,1);
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
}

.st-slider ul {
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.2);
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    position: relative;
}

.st-slider li {
    float: left;
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0,0,0);
}

