<!DOCTYPE html>
<html>
    <head>
        <!--Stashy.-->                
        <link rel="stylesheet" href="../../css/Stashy.List.css" type="text/css"/>            
    	<meta name="viewport" content="width=device-width,initial-scale=1">
		
        <title>List</title>		
        <style>
        	body {
				margin:0;
				padding:0;
        	}
        </style>		
    </head>
    <body>
        <ul class="st-list">
    		<li>
    			<a href="#">
    				<div class="st-list-img">
    					<img src="http://bradfrost.github.com/this-is-responsive/patterns/images/fpo_square.png" alt="Image Alt Text" />
    				</div>
    				<div class="st-list-content">
		    			<h4 class="st-list-title">Title of Content</h4>
				    	<p class="st-list-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet tellus velit, ut semper neque.</p>
			    		<p class="st-list-action">Read More</p>
    	    		</div>
	    		</a>
    		</li>
        	<li>
    			<a href="#">
    				<div class="st-list-img">
    					<img src="http://bradfrost.github.com/this-is-responsive/patterns/images/fpo_square.png" alt="Image Alt Text" />
    				</div>
    				<div class="st-list-content">
		    			<h4 class="st-list-title">Title of Content</h4>
				    	<p class="st-list-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet tellus velit, ut semper neque.</p>
			    		<p class="st-list-action">Read More</p>
    	    		</div>
	    		</a>
    		</li>
        	<li>
    			<a href="#">
    				<div class="st-list-img">
    					<img src="http://bradfrost.github.com/this-is-responsive/patterns/images/fpo_square.png" alt="Image Alt Text" />
    				</div>
    				<div class="st-list-content">
		    			<h4 class="st-list-title">Title of Content</h4>
				    	<p class="st-list-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet tellus velit, ut semper neque.</p>
			    		<p class="st-list-action">Read More</p>
    	    		</div>
	    		</a>
    		</li>
        	<li>
    			<a href="#">
    				<div class="st-list-img">
    					<img src="http://bradfrost.github.com/this-is-responsive/patterns/images/fpo_square.png" alt="Image Alt Text" />
    				</div>
    				<div class="st-list-content">
		    			<h4 class="st-list-title">Title of Content</h4>
				    	<p class="st-list-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet tellus velit, ut semper neque.</p>
			    		<p class="st-list-action">Read More</p>
    	    		</div>
	    		</a>
    		</li>
        	<li>
    			<a href="#">
    				<div class="st-list-img">
    					<img src="http://bradfrost.github.com/this-is-responsive/patterns/images/fpo_square.png" alt="Image Alt Text" />
    				</div>
    				<div class="st-list-content">
		    			<h4 class="st-list-title">Title of Content</h4>
				    	<p class="st-list-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet tellus velit, ut semper neque.</p>
			    		<p class="st-list-action">Read More</p>
    	    		</div>
	    		</a>
    		</li>
        	<li>
    			<a href="#">
    				<div class="st-list-img">
    					<img src="http://bradfrost.github.com/this-is-responsive/patterns/images/fpo_square.png" alt="Image Alt Text" />
    				</div>
    				<div class="st-list-content">
		    			<h4 class="st-list-title">Title of Content</h4>
				    	<p class="st-list-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet tellus velit, ut semper neque.</p>
			    		<p class="st-list-action">Read More</p>
    	    		</div>
	    		</a>
    		</li>
        	<li>
    			<a href="#">
    				<div class="st-list-img">
    					<img src="http://bradfrost.github.com/this-is-responsive/patterns/images/fpo_square.png" alt="Image Alt Text" />
    				</div>
    				<div class="st-list-content">
		    			<h4 class="st-list-title">Title of Content</h4>
				    	<p class="st-list-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet tellus velit, ut semper neque.</p>
			    		<p class="st-list-action">Read More</p>
    	    		</div>
	    		</a>
    		</li>
                    	<li>
    			<a href="#">
    				<div class="st-list-img">
    					<img src="http://bradfrost.github.com/this-is-responsive/patterns/images/fpo_square.png" alt="Image Alt Text" />
    				</div>
    				<div class="st-list-content">
		    			<h4 class="st-list-title">Title of Content</h4>
				    	<p class="st-list-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet tellus velit, ut semper neque.</p>
			    		<p class="st-list-action">Read More</p>
    	    		</div>
	    		</a>
    		</li>
    	</ul>
    </body>
  </html>