<!DOCTYPE html>
<html>
    <head>
        <!--Stashy.-->                
        <link rel="stylesheet" href="../../css/Stashy.Theme.css" type="text/css"/>
        <link rel="stylesheet" href="../../css/Stashy.List.css" type="text/css"/>
    	<meta name="viewport" content="width=device-width,initial-scale=1">
		
        <title>List</title>		
        <style>
        	body {
				margin:0;
				padding:0;
        	}
        </style>		
    </head>
    <body>
        <h3>Double normal</h3>
        <ul class="st-list st-double">
        	<li>
    			<a href="#">
    				<div class="st-list-img">
    					<img src="http://www.eurocosm.com/Application/images/Reproduction-Tiles/Victorian-tiles-Red-6-6-lg.jpg" alt="Image Alt Text" />
    				</div>
    				<div class="st-list-content">
		    			<h4 class="st-list-title">Title of Content</h4>
				    	<p class="st-list-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet tellus velit, ut semper neque.</p>
    	    		</div>
	    		</a>
    		</li>
        	<li>
    			<a href="#">
    				<div class="st-list-img">
    					<img src="http://www.eurocosm.com/Application/images/Reproduction-Tiles/Victorian-tiles-Red-6-6-lg.jpg" alt="Image Alt Text" />
    				</div>
    				<div class="st-list-content">
		    			<h4 class="st-list-title">Title of Content</h4>
				    	<p class="st-list-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet tellus velit, ut semper neque.</p>                       
    	    		</div>
	    		</a>
    		</li>
        	<li>
    			<a href="#">
    				<div class="st-list-img">
    					<img src="http://www.eurocosm.com/Application/images/Reproduction-Tiles/Victorian-tiles-Red-6-6-lg.jpg" alt="Image Alt Text" />
    				</div>
    				<div class="st-list-content">
		    			<h4 class="st-list-title">Title of Content</h4>
				    	<p class="st-list-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet tellus velit, ut semper neque.</p>		    		                        
    	    		</div>
	    		</a>
    		</li>
            <li>
    			<a href="#">
    				<div class="st-list-img">
    					<img src="http://www.eurocosm.com/Application/images/Reproduction-Tiles/Victorian-tiles-Red-6-6-lg.jpg" alt="Image Alt Text" />
    				</div>
    				<div class="st-list-content">
		    			<h4 class="st-list-title">Title of Content</h4>
				    	<p class="st-list-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet tellus velit, ut semper neque.</p>		    		                        
    	    		</div>
	    		</a>
    		</li>
            <li>
    			<a href="#">
    				<div class="st-list-img">
    					<img src="http://www.eurocosm.com/Application/images/Reproduction-Tiles/Victorian-tiles-Red-6-6-lg.jpg" alt="Image Alt Text" />
    				</div>
    				<div class="st-list-content">
		    			<h4 class="st-list-title">Title of Content</h4>
				    	<p class="st-list-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet tellus velit, ut semper neque.</p>		    		                        
    	    		</div>
	    		</a>
    		</li>
            <li>
    			<a href="#">
    				<div class="st-list-img">
    					<img src="http://www.eurocosm.com/Application/images/Reproduction-Tiles/Victorian-tiles-Red-6-6-lg.jpg" alt="Image Alt Text" />
    				</div>
    				<div class="st-list-content">
		    			<h4 class="st-list-title">Title of Content</h4>
				    	<p class="st-list-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet tellus velit, ut semper neque.</p>		    		                        
    	    		</div>
	    		</a>
    		</li>            
    	</ul>
        
        <h3>Double inset</h3>
        <ul class="st-list st-double st-inset">
    		<li>
    			<a href="#">
    				<div class="st-list-img">
    					<img src="http://www.eurocosm.com/Application/images/Reproduction-Tiles/Victorian-tiles-Red-6-6-lg.jpg" alt="Image Alt Text" />
    				</div>
    				<div class="st-list-content">
		    			<h4 class="st-list-title">Title of Content</h4>
				    	<p class="st-list-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet tellus velit, ut semper neque.</p>
    	    		</div>
	    		</a>
    		</li>
        	<li>
    			<a href="#">
    				<div class="st-list-img">
    					<img src="http://www.eurocosm.com/Application/images/Reproduction-Tiles/Victorian-tiles-Red-6-6-lg.jpg" alt="Image Alt Text" />
    				</div>
    				<div class="st-list-content">
		    			<h4 class="st-list-title">Title of Content</h4>
				    	<p class="st-list-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet tellus velit, ut semper neque.</p>                       
    	    		</div>
	    		</a>
    		</li>
        	<li>
    			<a href="#">
    				<div class="st-list-img">
    					<img src="http://www.eurocosm.com/Application/images/Reproduction-Tiles/Victorian-tiles-Red-6-6-lg.jpg" alt="Image Alt Text" />
    				</div>
    				<div class="st-list-content">
		    			<h4 class="st-list-title">Title of Content</h4>
				    	<p class="st-list-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet tellus velit, ut semper neque.</p>		    		                        
    	    		</div>
	    		</a>
    		</li>
            <li>
    			<a href="#">
    				<div class="st-list-img">
    					<img src="http://www.eurocosm.com/Application/images/Reproduction-Tiles/Victorian-tiles-Red-6-6-lg.jpg" alt="Image Alt Text" />
    				</div>
    				<div class="st-list-content">
		    			<h4 class="st-list-title">Title of Content</h4>
				    	<p class="st-list-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet tellus velit, ut semper neque.</p>		    		                        
    	    		</div>
	    		</a>
    		</li>
            <li>
    			<a href="#">
    				<div class="st-list-img">
    					<img src="http://www.eurocosm.com/Application/images/Reproduction-Tiles/Victorian-tiles-Red-6-6-lg.jpg" alt="Image Alt Text" />
    				</div>
    				<div class="st-list-content">
		    			<h4 class="st-list-title">Title of Content</h4>
				    	<p class="st-list-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet tellus velit, ut semper neque.</p>		    		                        
    	    		</div>
	    		</a>
    		</li>
            <li>
    			<a href="#">
    				<div class="st-list-img">
    					<img src="http://www.eurocosm.com/Application/images/Reproduction-Tiles/Victorian-tiles-Red-6-6-lg.jpg" alt="Image Alt Text" />
    				</div>
    				<div class="st-list-content">
		    			<h4 class="st-list-title">Title of Content</h4>
				    	<p class="st-list-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet tellus velit, ut semper neque.</p>		    		                        
    	    		</div>
	    		</a>
    		</li>            
    	</ul>
    </body>
  </html>