<!DOCTYPE html>
<html>
    <head>
        <title>Flyout</title>               

        <!--Stashy.-->   
        <link rel="stylesheet/less" type="text/css" href="../../less/Stashy.less"/>
        <script type="text/javascript" src="../../src/less.js"></script>
        
        <meta name="viewport" content="width=device-width" />
        
        <style>
            body {
                margin : 0;
                padding : 0;
            }
        </style>         
    </head>
    <body>		        
        <script type="text/javascript" src="../qunit/jquery.js"></script>
		<script type="text/javascript" src="../../src/Stashy.Loader.js"></script>
		<script>
			$(function() {
				var loader = Stashy.Loader("body").on("fixed","20px","#000","append");                
			});
		</script>
    </body>
</html>