<!DOCTYPE html>
<html>
    <head>
        <title>Flyout</title>               

        <!--Stashy.-->                
        <link rel="stylesheet" href="../../css/Stashy.Loader.css" type="text/css"/>    	
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>		        
        <script type="text/javascript" src="../qunit/jquery.js"></script>
		<script type="text/javascript" src="../../src/Stashy.Loader.js"></script>
		<script>
			$(function() {
				var loader = Stashy.Loader("body").on("fixed","20px","#000","append");                
			});
		</script>
    </body>
</html>