<!DOCTYPE html>
<html>
    <head>
        <title>Notify</title>               

        <!--Stashy.-->                
        <link rel="stylesheet" href="../../docs/public/Content/bootstrap.css" type="text/css"/>        
        <!--Stashy.-->   
        <link rel="stylesheet/less" type="text/css" href="../../less/Stashy.less"/>
        <script type="text/javascript" src="../../src/less.js"></script>
    	
        <meta name="viewport" content="width=device-width" />
        
        <style>            
            input, select {
                display : block;
            }
            
            .inline input {
                display : inline;
            }
        </style>
    </head>
    <body>	
        <div>
            <form>
                <input type="text" name="title" value="" placeholder="title" />                                
                <textarea name="content" placeholder="content"></textarea>
                <select name="titleSize">
                    <option value="3" selected="selected">Select the title size</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
                <select name="contentType">
                    <option value="inline" selected="selected">Select the content type</option>
                    <option value="inline">inline</option>
                    <option value="html">html</option>                    
                </select>
                <select name="style">
                    <option value="default" selected="selected">Select style</option>
                    <option value="default">default</option>
                    <option value="error">error</option>
                    <option value="info">info</option>                    
                    <option value="warning">warning</option>                    
                    <option value="success">success</option>                                        
                </select>   
                <select name="animDuration">
                    <option value="fast" selected="selected">animation duration</option>
                    <option value="slow">slow</option>
                    <option value="fast">fast</option>                          
                </select>  
                <select name="closeArea">
                    <option value="button" selected="selected">close area</option>
                    <option value="button">button</option>
                    <option value="element">element</option>                          
                </select>
                <select name="positionX">
                    <option value="right" selected="selected">positionX</option>
                    <option value="left">left</option>
                    <option value="right">right</option>                          
                </select>
                <select name="positionY">
                    <option value="top" selected="selected">positionY</option>
                    <option value="top">top</option>
                    <option value="bottom">bottom</option>                          
                </select> 
                <div class="inline">
                    <input type="checkbox" name="radius" value="true" /> <span>add radius?</span>
                </div>                
                <div class="inline">
                    <input type="radio" name="component" value="toast" /> <span>Toast</span>
                    <input type="radio" name="component" value="bar" /> <span>Bar</span>
                    <input type="radio" name="component" value="panel" /> <span>Panel</span>                    
                </div>
            </form>
            <button type="button">Show!!</button>
        </div>
        <script type="text/javascript" src="../../src/jquery.js"></script>        
        <script type="text/javascript" src="../../src/Stashy.Notify.js"></script>		
		<script>        
			$(function() {
                $.fn.serializeObject=function() {
                    var json = {};
                    $.map($(this).serializeArray(), function(n, i){
                        json[n['name']] = n['value'];
                    });
                    return json;
                };    
                
                $("button").click(function() {
                    var c = $("form").serializeObject();
                    
                    if (c.component == "toast") {                
                        Stashy.Notify({
                            title : c.title,
                            content : c.content,
                            titleSize : parseInt(c.titleSize),
                            style : c.style,
                            contentType : c.contentType,
                            animDuration : c.animDuration,
                            closeArea : c.closeArea                        
                        }).toast(c.positionX, c.positionY, c.radius ? true : false);
                    } else {
                        if (c.component == "bar")   {
                            Stashy.Notify({
                                title : c.title,
                                content : c.content,
                                titleSize : parseInt(c.titleSize),
                                style : c.style,
                                contentType : c.contentType,
                                animDuration : c.animDuration,
                                closeArea : c.closeArea                            
                            }).bar(c.positionY);
                        } else {
                            Stashy.Notify({
                                title : c.title,
                                content : c.content,
                                titleSize : parseInt(c.titleSize),
                                style : c.style,
                                contentType : c.contentType,
                                animDuration : c.animDuration,
                                closeArea : c.closeArea                            
                            }).panel(c.positionX);
                        }
                    }                    
                });                
			});
		</script>
    </body>
</html>