<!DOCTYPE html>
<html>
    <head>
        <title>Slider</title>               

        <!--Stashy.-->                                    	
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="../../css/Stashy.Slider.css" type="text/css"/> 
        <style>
            html, body {
                padding: 0;
                margin: 0;
            }
        </style>
    </head>
    <body>		
		<div style="width: 80%; margin:10%">
			<div id="sl1" class="st-slider">
				<ul class="st-slider-panes">
					<li>
						<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSUS7R5HgyGFYqmOfacqSgupT9Y9Rd3y97i0BuNo7-08LD8KEFo" />
						<div class="st-slider-caption">
							<h4>Lorem ipsum</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus varius lacus nunc. Suspendisse sit amet aliquet mi. Aliquam blandit cursus elit, ac dictum erat condimentum vel. In elementum consectetur nisl, sit amet vestibulum lectus tempor vel. Integer tempus, erat non ullamcorper suscipit</p>
						</div>
					</li>
					<li>
						<img src="http://www.bergoiata.org/fe/felins/-EvilBlackPantherRoar-wall-1024x768-TR.jpg" />
						<div class="st-slider-caption">
							<h4>Lorem ipsum</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus varius lacus nunc. Suspendisse sit amet aliquet mi. Aliquam blandit cursus elit, ac dictum erat condimentum vel. In elementum consectetur nisl, sit amet vestibulum lectus tempor vel. Integer tempus, erat non ullamcorper suscipit</p>
						</div>						
					</li>
					<li>
						<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSyAd10wClEdiidNsn8qQtI0Uf-dzWIuBNOJLLkyIxEzo_p5SFpmA" />
						<div class="st-slider-caption">
							<h4>Lorem ipsum</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus varius lacus nunc. Suspendisse sit amet aliquet mi. Aliquam blandit cursus elit, ac dictum erat condimentum vel. In elementum consectetur nisl, sit amet vestibulum lectus tempor vel. Integer tempus, erat non ullamcorper suscipit</p>
						</div>						
					</li>
					<li>
						<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSjpUI2fypAryH9TFbDji1ddUucSYlgKx6pdcBDGhB8oY7CyqIY" />
						<div class="st-slider-caption">
							<h4>Lorem ipsum</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus varius lacus nunc. Suspendisse sit amet aliquet mi. Aliquam blandit cursus elit, ac dictum erat condimentum vel. In elementum consectetur nisl, sit amet vestibulum lectus tempor vel. Integer tempus, erat non ullamcorper suscipit</p>
						</div>						
					</li>					
				</ul>
			</div>		
		</div>
		<div  style="margin-top: 10%;">
			<div id="sl2" class="st-slider">
				<ul class="st-slider-panes">
					<li style="background:red; color: #FFF">												
				        <h4>Lorem ipsum</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus varius lacus nunc. Suspendisse sit amet aliquet mi. Aliquam blandit cursus elit, ac dictum erat condimentum vel. In elementum consectetur nisl, sit amet vestibulum lectus tempor vel. Integer tempus, erat non ullamcorper suscipit</p>						
					</li>
					<li style="background:black; color: #FFF">												
				        <h4>Lorem ipsum</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus varius lacus nunc. Suspendisse sit amet aliquet mi. Aliquam blandit cursus elit, ac dictum erat condimentum vel. In elementum consectetur nisl, sit amet vestibulum lectus tempor vel. Integer tempus, erat non ullamcorper suscipit</p>						
					</li>
					<li style="background:yellow; color: #000">												
				        <h4>Lorem ipsum</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus varius lacus nunc. Suspendisse sit amet aliquet mi. Aliquam blandit cursus elit, ac dictum erat condimentum vel. In elementum consectetur nisl, sit amet vestibulum lectus tempor vel. Integer tempus, erat non ullamcorper suscipit</p>						
					</li>
					<li style="background:grey; color: #FFF">												
				        <h4>Lorem ipsum</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus varius lacus nunc. Suspendisse sit amet aliquet mi. Aliquam blandit cursus elit, ac dictum erat condimentum vel. In elementum consectetur nisl, sit amet vestibulum lectus tempor vel. Integer tempus, erat non ullamcorper suscipit</p>						
					</li>
					<li style="background:blue; color: #FFF">												
				        <h4>Lorem ipsum</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus varius lacus nunc. Suspendisse sit amet aliquet mi. Aliquam blandit cursus elit, ac dictum erat condimentum vel. In elementum consectetur nisl, sit amet vestibulum lectus tempor vel. Integer tempus, erat non ullamcorper suscipit</p>						
					</li>
				</ul>
			</div>		
		</div>        
        <script type="text/javascript" src="../../src/jquery.js"></script>
        <script type="text/javascript" src="../../src/jquery.hammer.js"></script>
        <script type="text/javascript" src="../../src/Stashy.Utils.js"></script>
        <script type="text/javascript" src="../../src/Stashy.Modernizr.js"></script>
		<script type="text/javascript" src="../../src/Stashy.Slider.js"></script>
		<script>
			var sl;
			$(function() {
				sl1 = Stashy.Slider("#sl1",{enableTouch : true, autoSlide:true}).on();
				sl2 = Stashy.Slider("#sl2",{showControls : false, showIndicators:false, enableTouch : true}).on();
			});
		</script>
    </body>
</html>