<!DOCTYPE html>
<html>
    <head>
        <title>Toggle</title>               

        <!--Stashy.-->   
        <link rel="stylesheet/less" type="text/css" href="../../less/Stashy.less"/>
        <script type="text/javascript" src="../../src/less.js"></script>
        
        <meta name="viewport" content="width=device-width" />
        
        <style>
            body {
                margin : 0;
                padding : 0;
            }
        </style>
    </head>
    <body>		
        <div class="st-toggle">
            <div class="st-toggle-brand">
                <a href="#">Toggle</a>  
            </div>
            <a href="#" class="st-toggle-menu-link">Open panel</a>    
            <nav class="st-toggle-navigation">
                <ul>
                    <li><a>Nav 1</a></li>
                    <li><a>Nav 2</a></li>
                    <li><a>Nav 3</a></li>
                    <li><a>Nav 4</a></li>                    
                    <li><a>Nav 5</a></li>
                    <li><a>Nav 6</a></li>                    
                </ul>        
            </nav>
        </div>
        <script type="text/javascript" src="../qunit/jquery.js"></script>
		<script type="text/javascript" src="../../src/Stashy.Toggle.js"></script>
		<script>
			$(function() {
				var toggle = Stashy.Toggle().layout();                
			});
		</script>
    </body>
</html>