<!DOCTYPE html>
<html>
    <head>
        <title>ElasticVideo</title>		
        
        <!--Stashy.-->   
        <link rel="stylesheet/less" type="text/css" href="../../less/Stashy.less"/>
        <script type="text/javascript" src="../../src/less.js"></script>
        
        <style>
        	body {
				margin:0;
				padding:0;
        	}
        </style>
        
        <meta name="viewport" content="width=device-width,initial-scale=1">
    </head>
    <body>
	
	  <h2>Youtube new code => iframe video</h2>
	  <iframe width="853" height="480" src="http://www.youtube.com/embed/jhyANGHDDH8" frameborder="0" allowfullscreen></iframe>

	  <h2>Youtube old code => object video</h2>
	  <object width="853" height="480">
	      <param name="movie" value="http://www.youtube.com/v/MjaF26OYOps?hl=es_ES&amp;version=3"></param>
	      <param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param>
	      <embed src="http://www.youtube.com/v/MjaF26OYOps?hl=es_ES&amp;version=3" type="application/x-shockwave-flash" width="853" height="480" allowscriptaccess="always" allowfullscreen="true"></embed>
	   </object>
		
	  <h2>Youtube HTML5 using &ltvideo&gt tag</h2>
	  <p>Note that is no needed using Stashy.ElasticVideo.js with the video tag. Is enough with Stashy.ElasticVideo.css or even styling yourself using max-width:100% and height:auto;</p>
	   <video id='video'
		  controls preload='none' 
		  poster="http://media.w3.org/2010/05/sintel/poster.png">
		  <source id='mp4'
			src="http://media.w3.org/2010/05/sintel/trailer.mp4"
			type='video/mp4'>
		  <source id='webm'
			src="http://media.w3.org/2010/05/sintel/trailer.webm"
			type='video/webm'>
		  <source id='ogv'
			src="http://media.w3.org/2010/05/sintel/trailer.ogv"
			type='video/ogg'>
		  <p>Your user agent does not support the HTML5 Video element.</p>
		</video>
		
	  <h2>Vimeo iframe</h2>
	  <iframe src="http://player.vimeo.com/video/34656502" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	  
	   <h2>DailyMotion iframe</h2>
	   <iframe frameborder="0" width="480" height="270" src="http://www.dailymotion.com/embed/video/xcr9r8"></iframe>
	   
      <script src="../../src/jquery.js"></script>      
      <script src="../../src/Stashy.ElasticVideo.js"></script>
      <script>
        Stashy.ElasticVideo("iframe,object,embed").on();
      </script>
      </body>
  </html>